$less-black: #151515;
$black: #121212;
$black-900: #000;


$grey-lightest: #c0c0c0;
$grey-light: #484848;
$grey-middle: #383838;
$grey-light-dark: #363636;
$grey-dark: #323232;
$grey-darkest: #202020;


$white-100: #e3e3e3;
$white-200: #dcdcdc;
$white-300: #dbdbdb;
$white-400: #dadada;
$white-500: #d3d3d3;

$orange-100: #f15830;
$orange-200: #e3290a;

$red-100: #dd2e00;
$red-200: #ff0302;

$blue-100: #2aabee;
$blue-200: #0077ff;

$bg-color: $black;
$text-color: $white-200;
$text-dark-color: $grey-darkest;
$accent-color: $orange-100;
$text-color-secondary: $grey-lightest;
$danger-color: $red-100;
$overlay-color: rgba($bg-color, 0.7);

$header-h: 10.3rem;

$mobile-buttons-z-index: 19;
$modal-z-index: 20;
$toast-z-index: 21;

$mobile: "max-width: 767px";

.container {
  position: fixed;
  //top: calc($header-h + 3.5rem);
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1.8rem;
  max-width: 47.1rem;
  width: 100%;
  backdrop-filter: blur(113px);
  box-shadow: inset 2px 0 4px 0 rgba(255, 255, 255, 0.15),
    inset 0 0 68px 0 rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.03);
  padding: 1.5rem 1.8rem;
  opacity: 0;
  visibility: hidden;
  //transform: translateY(-2rem) translateX(-50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: $toast-z-index;

  &::after {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%) rotate(90deg);
    --width: 0;
    --height: 0;
    width: var(--width);
    height: var(--height);
    transition: width 300ms ease, height 300ms ease;
    filter: blur(7rem);
    -webkit-backdrop-filter: blur(7rem);
    z-index: -1;
  }


  .icon {
    max-width: 4.3rem;
    height: 4.3rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .text {
    max-width: 33.6rem;
  }

  .close_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.hoverEffect {

  &::after {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%) rotate(90deg);
    --width: 0;
    --height: 0;
    width: var(--width);
    height: var(--height);
    transition: width 300ms ease, height 300ms ease;
    filter: blur(7rem);
    -webkit-backdrop-filter: blur(7rem);
    z-index: -1;
  }

}